<%= form_with(model: client) do |form| %>
  <% if client.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(client.errors.count, "error") %> prohibited this client from being saved:</h2>

      <ul>
        <% client.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :name %>
    <%= form.text_field :name, :class => "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :address %>
    <%= form.text_area :address, :class => "form-control" %>
  </div>

  <div class="mb2">
    <%= form.button :submit, :class => "btn btn-primary" do %>
      <span class="fas fa-check"></span> Save
    <% end %>

    <%= link_to @client, :class => "btn btn-danger" do  %>
      <span class="fas fa-ban"></span> Cancel
    <% end %> 
  </div>
<% end %>
