<%= form_with(model: [@client, web_property] ) do |form| %>
  <% if web_property.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(web_property.errors.count, "error") %> prohibited this web_property from being saved:</h2>

      <ul>
        <% web_property.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :name, style: "display: block" %>
    <%= form.text_field :name, :class => "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :url, style: "display: block" %>
    <%= form.text_field :url, :class => "form-control" %>
  </div>

  <div class="mb2">
    <%= form.button :submit, :class => "btn btn-primary" do %>
      <span class="fas fa-check"></span> Save
    <% end %>

    <%= link_to @client, :class => "btn btn-danger" do  %>
      <span class="fas fa-ban"></span> Cancel
    <% end %> 
  </div>
<% end %>
