<div class="card-header"> 
  <h1><%= @web_property.name %></h1>
  <div class="card-nav">
    <%= link_to clients_path, :class => "btn btn-secondary" do  %>
      <span class="fas fa-arrow-left"></span> Back to <%= @client.name %>
    <% end %> 
  </div>
</div>

<div class="card-body web-property">
  <%= render @web_property %>
</div>

<div class="card-footer">
  <div class="card-nav">
  <%= link_to edit_client_web_property_path(@client, @web_property), :class => "btn btn-secondary" do  %>
    <span class="fas fa-edit"></span> Edit this Property
  <% end %> 
    <%= button_to client_web_property_path(@client, @web_property),
      :class => "btn btn-secondary",
      method: :delete, 
      form: { 
        data: { turbo_confirm: "Are you sure you want to delete this property, #{ @web_property.name }?"  }
      } do %>
      <span class="fas fa-trash"></span> Delete this Property
    <% end %>
  </div>
</div>
